@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-hover-bg:before {
    content: '';
    transform: scale(0.7) perspective(1px);
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    opacity: 0;
    transition: all 0.2s ease;
    background: rgba(0, 0, 0, 0.05);
  }

  .btn-hover-bg.active:before,
  .btn-hover-bg:hover:before {
    transform: scale(1.035) perspective(1px);
    opacity: 1;
  }
  .featured-details {
    height: calc(100% - 200px);
  }
}
